@{
	ViewData["Title"] = "Home Page";
}

@model BaiThucHanh2.ViewModel.ThucDonViewModel

<div>
	@await Component.InvokeAsync("Category")
	@await Component.InvokeAsync("Product", Model.products)
</div>
