.shop-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

